<%- include("partials/head", { title }) %>
<%- include("partials/nav", {
  user,
  currentPath: typeof currentPath !== "undefined" ? currentPath : ""
}) %>

<main class="flex-1 flex flex-col pt-24 pb-16">
  <div class="w-full max-w-6xl mx-auto px-4 sm:px-6 flex-1">
    <%- body %>
  </div>
</main>

<%- include("partials/footer") %>
